<script>
import notFoundImg from 'images/404_page_not_found_image.svg';
import bugImg from 'images/bug_fix_image.svg';

export let status;
export let error;

const dev = process.env.NODE_ENV === 'development';
</script>

<style lang="scss">
.error {
  &__wrap {
	padding-top: 55px;
	color:black;
	text-align: center;
  }
  &__img {
    max-width: 560px;
    max-height: 320px;
    margin: $spacer * 4 0;
    @media #{$tabletLg} {
      max-width: 300px;
      max-height: 180px;
	}
  }
  &__ext {
      font-style: normal;
      font-weight: 800;
  }
  a {color:blue;}
  h3 {font-weight: 400;}
}
</style>

<svelte:head>
	<title>{status}</title>
</svelte:head>

<div class="error">
  <!--<div class="container">-->
	<div class="error__wrap">
	  {#if status ===  404}
	    <img src={notFoundImg} class="error__img" alt="Not Found" />    
	    <h2 class="error__ext">Сожалеем, но такой страницы не существует...</h2><br />
	  {:else}
	    <img src={bugImg} class="error__img" alt="Bug Fix" />  
		<h2 class="error__ext">Сожалеем, но произошла ошибка...</h2><br />
		{#if dev && error.stack}
		  <pre>{error.stack}</pre>
	  	{/if}
	  {/if}
	  <h3>Если косяк на нашей стороне, мы будем благодарны, если Вы <a href="/contacts">сообщите</a> нам об этом!</h3><br />      
	  <a href="/">Вернуться на Главную</a>
	</div>
  <!--</div>-->
</div>