<script>
	import Nav from '../components/Nav.svelte';
	import Footer from '../components/Footer.svelte';

	export let segment;
</script>

<style lang="scss" global> 
	@import "../scss/main.scss";
</style>

<div class="container">
  <Nav {segment}/>	
  <slot></slot>
  <Footer />
</div>
