<script>
	import successkid from 'images/successkid.jpg';
</script>

<style lang="scss">

</style>

<svelte:head>
	<title>Домашняя</title>
</svelte:head>

<div class="home">
  <!--<div class="container">-->
  	<div class="home__wrap">
 	  <span class="home__wrap-caption">Полный успех!</span>
 	  <figure>
  	  	<img alt="Success Kid" src="{successkid}">
  	  	<figcaption>Веселитесь с Sapper!</figcaption>
 	  </figure>
 	  <p><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p>
  	</div>
  <!--</div>-->
</div>
