<svelte:head>
	<title>Портфель</title>
</svelte:head>

<script>
import PortfolioButtons from '../components/Buttons.svelte';
import MyPortfolios from '../components/MyPortfolios.svelte';
import PortfolioChart from '../components/Chart.svelte';
import PortfolioPositions from '../components/Positions.svelte';
import PortfolioStatistics from '../components/Statistics.svelte';
import PortfolioAllocation from '../components/Allocation.svelte';
import PortfolioLastTransactions from '../components/LastTransactions.svelte';
import PortfolioRelatedNews from '../components/RelatedNews.svelte';
import PortfolioNews from '../components/NewsCard.svelte';

let btnActive;

const handleBtnActive = (e) => {  
  btnActive = e.detail;
  console.log('activeLeftBtn: ', btnActive);
};
</script>

<style lang="scss">
.portfolio {
  &__wrap {
	margin-top: 77px;  
	max-width: 1300px;
	display:grid;
	grid-template-areas: 
	"prtfl-btns prtfl-btns prtfl-btns" 
	"my-prtfl my-prtfl my-prtfl" 
	"prtfl-left prtfl-left prtfl-right";
	grid-template-rows: 72px 262px 1fr;
	grid-template-columns: repeat(3, 420px);
	gap: 20px;
	&Left {
	  grid-area: prtfl-left;
	  display: grid;
	  grid-template-rows: 408px 272px 72px 1fr;
	  gap: 20px;
	  &News {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 340px 340px;
		gap: 20px;  
	  }		
	}
	&Right {
	  grid-area: prtfl-right;
	  display: grid;
	  grid-template-rows: 380px 328px 336px;
	  gap: 20px;	
	}
  }	
}
</style>

<div class="portfolio">
  <div class="portfolio__wrap">	
	<PortfolioButtons on:btnActive = {handleBtnActive}/>
	<MyPortfolios {btnActive} />
	<div class="portfolio__wrapLeft">
	  <PortfolioChart />
	  <PortfolioPositions />
	  <PortfolioRelatedNews />
	  <div class="portfolio__wrapLeftNews">
		<PortfolioNews />
		<PortfolioNews />
		<PortfolioNews />
		<PortfolioNews />
      </div>
	</div>
	<div class="portfolio__wrapRight">
	  <PortfolioStatistics />
	  <PortfolioAllocation />
	  <PortfolioLastTransactions />
	</div>	  
  </div>
</div>	