<script context="module">
	export function preload() {
		return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
			return { posts };
		});
	}
</script>

<script>
	export let posts;
</script>

<style lang="scss">
	ul {
		margin: 0 0 1em 0;
		line-height: 1.5;
		color: black;
	}
</style>

<svelte:head>
	<title>Информация</title>
</svelte:head>

<h1>Недавние записи</h1>

<ul>
	{#each posts as post}
		<!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
		<li><a rel="prefetch" href="information/{post.slug}">{post.title}</a></li>
	{/each}
</ul>
