@import "vars";
// Base
  *, *:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  position: relative;
  font-size: 16px;
  font-family: $f_base;

  &.overflow {
    overflow: hidden;
  }
}

body {
  background-color: #fff;
  color: #fff;

  &.is-hidden {
      overflow: hidden;
  }
}

/*div#__nuxt {
  height: 100%;

  & > div {
    height: 100%;
  }
}*/

a {
  text-decoration: none !important;
}

button, .btn {
  border: 0;
  outline: none !important;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

input[type="text"],
input[type="submit"],
input[type="button"],
input[type="password"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}

*::selection {
  background: #ccc;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

*::-moz-selection {
  background: #ccc;
  color: #fff;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.nuxt-progress {
  opacity: 0 !important;
}

.container {
  max-width: 1440px;
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
}
.container-no-height {
  max-width: 1440px;
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
}

@media #{$tabletLg}  {
  .container,
  .container-no-height {
    padding: 0 24px;
  }
}

@media #{$mobile}  {
  .container,
  .container-no-height {
    padding: 0 16px;
  }
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $primary-light-color;
  border-radius: 2px;
  color: #fff;
  box-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  padding: $spacer * 4;
  font-weight: 600;
  font-size: $font-size-md;
  line-height: $line-height-md;
  transition: background $delay ease-in-out, color $delay ease-in-out;

  &--light {
    background: $white;
    color: $text-color;

    &:hover {
      color: $text-color;
      background: $light-color;
    }
  }

  &--deep {
      background: $primary-light-color;
      border-radius: 0;

      &:hover {
          background: $primary-color;
          color: $white;
      }
  }
  &--blue {
    background: $light-blue;
    color: $primary-light-color !important;
    border: 1px solid $light-blue-border;
    padding: $spacer * 2 $spacer * 4;
  }

  &--big {
    background: $primary-light-color;
    text-transform: uppercase;
    width: 100%;
    justify-content: center;

    &.disabled {
        background: $disabled-color;
    }

    &:hover {
        color: $white;
        background: $primary-color;
    }
  }

  &--success {
    background: $succes-color;

    &.disabled {
        background: $succes-color;
        opacity: 0.5;
    }

    &:hover {
      background: $deep-green;
      color: $white;
    }
  }

  &--danger {
    background: $danger-color;

    &.disabled {
        background: $danger-color;
        opacity: 0.5;
    }

    &:hover {
      background: $deep-red;
      color: $white;
    }
  }

  &--outline {
    background: $white;
    border: 1px solid $border-input;
    border-radius: $border-radius/2;
    color: $text-color;
    align-items: center;
    padding: 0 $spacer * 5;
    font-size: $font-size-xs;
    height: 50px;

    &:hover {
      background: $light-color;
    }
  }

  &--bold-outline {
      background: $white;
      border: 2px solid $text-color-pale;
      border-radius: $border-radius;
      color: $text-color-pale;
      align-items: center;
      padding: 0 $spacer * 5;
      font-size: $font-size-xs;
      text-transform: uppercase;
      height: 42px;
  }

  &--dark {
      background: $dark-bg;
      height: 42px;
      text-transform: uppercase;
      border: 2px solid $dark-bg;

      &:hover {
          background: $white;
      }
  }

  &--gray {
      background: $disabled-color;
      border: 2px solid $disabled-color;
      border-radius: $border-radius;
      color: $white;
      align-items: center;
      padding: 0 $spacer * 5;
      font-size: $font-size-xs;
      text-transform: uppercase;
      height: 42px;

     &:hover {
        background: $white;
     }
  }


  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media #{$mobile}  {
    font-size: $font-size-xs;
  }

  &--small {
    font-size: $font-size-xs;
    padding: $spacer * 3 $spacer *4;
    height: 40px;
  }

  &--warning {
    background: $warning-color;
    transition: opacity $delay ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &--icons {
    padding: $spacer * 2.5 $spacer * 4;

    img {
      margin-right: 15px;
    }
  }

  @media #{$mobile}  {
    font-size: $font-size-xs;
  }

}

input {
  background: $light-color;
  border: 1px solid $border-input;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  margin: 0 0 $spacer * 2;
  padding: 15px 20px;
  color: $text-color-pale;
  font-size: $font-size-md;
  line-height: $line-height-md;
}

input.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input-code {
  text-align: center;
}

.page {
  display: grid;
  grid-template-rows: 1fr 105px;
}

.main {
  min-height: 500px;
  background: $primary-bg;
}

.header-title {
  font-size: 60px;
  text-align: center;
  position: relative;
}

.link {
  color: rgba($white, 0.8);
  text-decoration: none;
  transition: $delay color ease-in-out;

  &:hover {
    color: $white;
  }

  &--small {
    color: $text-color-pale;
    text-decoration: underline;
    font-size: $font-size-xs;
    line-height: $line-height-md;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      color: $text-color-pale;
    }

  }


  &--primary {
    color: $primary-light-color;
    font-size: $font-size-md;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

}

.close {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    top: 9px;
    background: $dark-bg;
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transform: rotate(-45deg);
    top: 9px;
    background: $dark-bg;
  }
}

#bookmark-icon-fill {
  fill: green !important;
}

img {
  max-width: 100%;
}


.remark {
  color: $disabled-color;
  font-size: $font-size-xs;
  line-height: $line-height-md;
}


h2 {
  font-size: $font-size-xl;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: $font-size-lg;
  line-height: $line-height-xl;
  font-weight: bold;
}

h1, h2, h3, h4, h5, p {
  color: $text-color;
}


.text-disabled {
  color: $disabled-color;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 111;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.account-card {
    display: flex;
    flex-direction: column;
    color: $text-color;
    background: $white;
    border-radius: $border-radius;
    padding: $spacer * 12;
    align-items: flex-start;
    margin: 0 0 $spacer * 5;

    @media #{$tablet} {
        padding: $spacer * 6;
    }

    @media #{$mobile} {
        border-radius: 0;
    }

    &__info {
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        color: $text-color;
        margin-bottom: $spacer * 0;
        width: 100%;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-extra-middle;
      line-height: $line-height-xl;
      margin-bottom: $spacer;

      @media #{$tablet} {
         font-size: $font-size-xl;
      }
    }

    &__text {
        font-weight: 600;
    }

    &__sub-title {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-md;
      line-height: $line-height-lg;
      color: $text-color-pale;
      margin-bottom: $spacer * 8;

      &--danger {
          color: $danger-color;
          margin-bottom: $spacer * 4;
      }

      @media #{$tablet} {
        // margin-bottom: $spacer * 6;
      }

    }

    &__notification {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $disabled-color;
        padding: $spacer * 4 0;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__lines {
        width: 100%;
    }

    &__input-group {
        position: relative;
    }

    &__input-container:last-child {

        input {
            color: $primary-light-color;

            &.is-active {
                border-color: $primary-light-color;


            }

            &.is-value {
                border-color: $primary-light-color;
            }

            &:focus {
                border-color: $primary-light-color;
            }

        }
    }

    &__label {
        position: absolute;
        top: 13px;
        left: 0;
        font-size: $font-size-lg;
        transition: all $delay ease-in-out;
        color: $text-color-pale;
        pointer-events: none;
    }

    &__show-btn {
        position: absolute;
        margin-top: 19px;
        right: 0;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        text-transform: uppercase;
        color: $disabled-color;
    }

    &__pswd-group {
        @media #{$tablet} {
            width: 100%;
        }
    }

    &__btn-group {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-right: 20px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__popup {
        position: fixed;
        background: $white;
        width: 448px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px $text-color;
        border-radius: 0px 0px 4px 4px;
        left: 50%;
        top: 40%;
        padding: $spacer * 14 $spacer * 6 $spacer * 6;
        transform: translate(-50%, -50%);
        z-index: 110;

        .close {
            position: absolute;
            right: 25px;
            top: 20px;
        }
    }

    .account-card__pswd-group {
        input {
            @media #{$tablet} {
                margin-bottom: $spacer * 6.5;
            }
        }
    }

    input {
        padding: 25px 0 8px;
        margin: 0 0 22px;
        color: $dark-bg;
        font-weight: bold;
        margin: 0 0 24px;

        &.is-active  + label {
            font-size: $font-size-md;
            top: 5px;
        }

        &.is-value  + label {
            font-size: $font-size-md;
            top: 5px;
        }
    }

    input:focus + label {
        font-size: $font-size-md;
        top: 5px;
    }
}

.swiper-arrow {
    width: 48px;
    height: 48px;
    background: $white;
    opacity: 0.9;
    position: absolute;
    z-index: 30;
    border-radius: 100%;

    &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background: $text-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-prev {
        left: 0;
    }

    &-next {
        right: 0;
    }
}

.hooper-navigation {
  @media (min-width: 1px) and (max-width: 900px) {
    display: none;
  }
    button {
        width: 48px;
        height: 48px;
        background: $white;
        opacity: 0.9;
        position: absolute;
        z-index: 30;
        border-radius: 100%;
        padding: 0;

        &:hover {
            opacity: 1;
        }

        &.is-disabled:hover {
            opacity: 0.9;
        }
    }

    .hooper-prev {
        left: 15px;
    }

    .hooper-next {
        right: 15px;
    }
}

.hooper-slide {
    padding-right: 16px !important;
}

.telegram-btn {
  position: fixed;
  right: 10px;
  cursor: pointer;
  @media #{$tabletLg} {
    display: none;
  }
}

