<div class="prtflAllocation">
  <div class="prtflAllocation__caption">
    <span class="prtflAllocation__caption-title">Portfolio Allocation</span>
    <button class="prtflAllocation__caption-btn">By Sector<img src={enter} alt="Меню"></button>
  </div>
  <div class="prtflAllocation__diagram">    
    <span class="prtflAllocation__diagram-num">{number}</span>
    <Doughnut {data} {options} />
  </div>
  <div class="prtflAllocation__data">
    {#each dataShareholders as item, index}
      <div class="prtflAllocation__dataItem" key={index} on:click={()=>choiceHolders(index)}>
        <span class="prtflAllocation__dataItem-color" style="background:{backgroundColor[index]}"></span>
        <span class="prtflAllocation__dataItem-text" class:active={pendingPeriod == index}>{item.name}</span>
      </div>
    {/each}
  </div>  
</div> 

<script>
import { onMount } from 'svelte';
import Doughnut from "svelte-chartjs/src/Doughnut.svelte";
import enter from 'icons/enter_icon.png';

let data = {
  labels: [],
  datasets: [{
    data: [],
    backgroundColor: []
  }]
}; 
let options = {
  responsive: true,
  maintainAspectRatio: false,
  layout: {
      padding: {
      left: 10,
      right: 10,
      top: 10,
      bottom: 10
    }
  },
  events: ['click'],
  rotation: 0,
  legend: {display: false},
  tooltips: {enabled: false},
  hover: {mode: null},
};
let number = null;
let dataShareholders = [{name:'Consumer Goods', amount: '4289'}, {name:'Finances', amount: '4500'}, {name:'Tech', amount: '1211'}];
let pendingPeriod = 0;
const backgroundColor = [
  'rgba(27,122,250, 1)',
  'rgba(255,168,0, 1)',               
  'rgba(0,182,138, 1)',
  'rgba(192,224,0, 1)',
  'rgba(153, 102, 255, 1)',
  'rgba(255, 111, 64, 1)',
  'rgba(12,182,123, 1)',
  'rgba(123,123,123, 1)',
  'rgba(255,132,132, 1)',
  'rgba(123,255,123, 1)',
  'rgba(123,132,255, 1)',
];
let nameArr = [];
let numArr = [];

const choiceHolders = (index) => {
  pendingPeriod = index;
  number = dataShareholders[index].amount / 100 + '%';
  setChartShadow(index);
};
const setChartShadow = (index) => {
  const changeBackgroundColor = backgroundColor[index].substring(0, backgroundColor[index].length - 3) + '0.4)';
  const changeData = data;
  console.log('changeData', changeData);
    changeData.datasets[0].borderWidth.forEach((item, i) => {
    changeData.datasets[0].borderWidth[i] = 0;
  });
  changeData.datasets[0].borderWidth[index] = 15;
  changeData.datasets[0].borderColor[index] = changeBackgroundColor;
  options.layout.padding = 2;
};
const renderGraph = () => {
  dataName();
  dataNum();
  if(dataName) {
    data.labels = nameArr;
    data.datasets[0].data = numArr;
    data.datasets[0].borderWidth = [];
    data.datasets[0].borderColor = [];
    for (var i = 0; i < data.labels.length; i++) {
      data.datasets[0].borderWidth = [...data.datasets[0].borderWidth, 0];
    };
    data.datasets[0].backgroundColor = backgroundColor;
  }
};
const startRender = () => {
  if(dataShareholders) {
    number = dataShareholders[0].amount / 100 + '%';
    data.datasets[0].borderWidth[0] = 15;
    data.datasets[0].borderColor[0] = 'rgba(27,122,250, 0.4)';
    options.layout.padding = 2;
  }
};

const dataName = () => {
  if(dataShareholders) {
    dataShareholders.filter((name) => {
      nameArr = [...nameArr, name.name];
    });
  }
};
const dataNum = () => {
  dataShareholders.filter((num) => {
    numArr = [...numArr, num.amount / 100];
  });
};

onMount(//async () => {
    //await renderGraph();
    //await startRender();}
  () => {setTimeout(() => {
    renderGraph();
    startRender();
  }, 1500);}
);
</script>

<style lang="scss">
.prtflAllocation {  
  background: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 72px 1fr 72px;
  &__caption {
    padding: 22px 24px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    &-title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;
    };
    &-btn {
      margin-top: -6px;
      width: 118px;
      height: 40px;
      border-radius: 32px;
      background-color: #f6f7fc;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      :last-child {margin-left: 10px;}
    };
  }
  &__diagram {
    width: 160px;
    height: 160px;
    margin-left: 24px;
    position: relative;
    &-num {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 17.5px;
      font-weight: 600;
      transform: translate(-50%, -50%);
      color: black;
    }
  }
  &__data {
    padding-top: 28px;
    border-radius: $spacer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    border-top: 1px solid #eceff1;
    border-top-width: 100%;
    &Item {
      margin-left: 28px;
      padding-left: 4px;
      padding-right: 22px;
      cursor: pointer;
      display: flex;
      height:20px;     
      &-text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: black;
      }      
      &-color {
        min-width: 16px;
        height: 16px;
        margin-right: $spacer * 2;
        border-radius: 100%;
      }
    }
          
    @media #{$tablet} {
      flex: 100%;
      width: 100%;
      max-width: 100%;
    }
      
    @media #{$mobile} {
      padding: $spacer * 3;
    }
  }
  .active {
    text-decoration: underline;
  }
}   
</style> 
      