<div class="prtflButtons">
  <span class="prtflButtons__caption">Portfolio</span>
  <div class="prtflButtons__btn">
    <button class={btnLeftClass} on:click={toggleLeftBtn}>Broker Accounts</button>
    <button class={btnRightClass} on:click={toggleRightBtn}>Virtual Portfolios</button>
  </div>
</div>

<script>
import { createEventDispatcher } from 'svelte';

const dispatch = createEventDispatcher();

let btnLeftClass;  
let btnRightClass;
let LeftBtnActive = true;
let RightBtnActive = false;
 
$: !LeftBtnActive ? btnLeftClass = "prtflButtons__btnLeft" : btnLeftClass = "prtflButtons__btnLeft_active";
$: !RightBtnActive ? btnRightClass = "prtflButtons__btnRight" : btnRightClass = "prtflButtons__btnRight_active";

const toggleLeftBtn = () => {
  if(LeftBtnActive === false && RightBtnActive === false) LeftBtnActive = true ;
  if(LeftBtnActive === false && RightBtnActive === true) {
    LeftBtnActive = true;
    RightBtnActive = false;
  };
};
const toggleRightBtn = () => {
  if(LeftBtnActive === false && RightBtnActive === false) RightBtnActive = true;
  if(RightBtnActive === false && LeftBtnActive === true) {
    RightBtnActive = true;
    LeftBtnActive = false;
  };
};
$: dispatch('btnActive', LeftBtnActive);
</script>

<style lang="scss">
.prtflButtons {
  grid-area: prtfl-btns;
  background: #fff;
  border-radius: 4px;
  padding: 18px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  &__btn {
    margin-left: 37px;
    display: inline-grid;
    grid-template-columns: 144px 147px;
    gap: 8px;    
    &Left {
      height: 36px;
      color: #677fa0;
      cursor: pointer;
      border-radius: 32px;
      border: 1px solid #c7d0db;
      background: #f6f7fc;
      &_active {
        background: #51587b;
        color: #fff;
        border-radius: 32px;
        cursor: pointer;        
      }
    }
    &Right {
      height: 36px;
      color: #677fa0;
      cursor: pointer;
      border-radius: 32px;
      border: 1px solid #c7d0db;
      background: #f6f7fc;
      &_active {
        background: #51587b;
        color: #fff;
        border-radius: 32px;
        cursor: pointer;
      }
    } 
  }
  &__caption {
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    color: #333333;
  };
}
</style>