<div class="prtflChart">
  <div class="prtflChart__caption">
    {#each captionChart as item, i}
      <div class="prtflChart__caption{i}">
        {#if i === 1 || i === 2}
          <span style={styleCaption(item.value1)}>{item.value1} <span style={styleCaption(item.value2)}>{item.value2}</span></span>
        {:else}
          <span>{item.value1} <span>{item.value2}</span></span>
        {/if}
        <div>{item.name}</div>
      </div>
    {/each}
  </div>
  <button class="prtflChart__btn">
    S&P500 INDEX
    <img src={enter} alt="Меню">
  </button>
  <div class="prtflChart__chart js-chart-graph"></div>
  <div class="prtflChart__btnGroup">
    {#each btnGroupChart as item, i}
      <button on:click={()=>handleSetBtnGroup(i)} on:click={()=>choicePeriod(i)} on:blur={handleClearBtnGroup} style={styleBtnGroup[i]}>{item.en}</button>
    {/each}
  </div>
</div>

<script>
import { onMount } from 'svelte';
import { data } from "../assets/tempData/chartData.js";
import enter from 'icons/enter_icon.png';

let chart = null;
let LightweightCharts;
let areaSeries = null;
let btnGroupChart = [
  { en: "1D", ru: "1Д", api: "1d", loading: false },
  { en: "1W", ru: "1Н", api: "1w", loading: false },
  { en: "1M", ru: "1М", api: "1m", loading: false },
  { en: "6M", ru: "6М", api: "6m", loading: false },
  { en: "1Y", ru: "1Г", api: "1y", loading: false },
  { en: "5Y", ru: "5Л", api: "5y", loading: false },
  { en: "All", ru: "Все", api: "all", loading: false }
];
let dataChart = null;
let pendingPeriod = 0; // Режим графика на который хоят переключиться и для которого надо грузить данные
let currentPeriod; // Активный режим графика, переключается после загрузки данных
let symbol = null;
let isLoading = true;
let negativChart;
let toolTip;
let tooltipValue;
let tooltipTime;
let toolTipWidth = 80;
let toolTipHeight = 50;
let toolTipMargin = 8;
let captionChart = [
  {
    name: 'Total Value',
    value1: '20,474.09',
    value2: 'USD'
  },
  {
    name: 'Today`s Change',
    value1: '-88.25',
    value2: '+0.94%'
  },
  {
    name: 'Total Gain',
    value1: '+2,387.77',
    value2: '-4.98%'
  },
  {
    name: 'Realized P/L',
    value1: '578.90',
    value2: 'USD'
  },
  {
    name: 'Available Cash',
    value1: '12,938.87',
    value2: 'USD'
  }
];
let styleBtnGroup = [];

$: styleCaption = (value) => value.match(/\+/) ? 'color: #00b68a;' : 'color: #f34161;';
const handleSetBtnGroup = (i) => {
  styleBtnGroup[i] = 'background:#51587b;color:white;box-shadow:0 0 4px rgba(0, 0, 0, 0.16);';
};
const handleClearBtnGroup = () => styleBtnGroup = [];

const createChartContainer = () => {
  /*negativChart = document.createElement('div');
  negativChart.className = 'prtflChart__chart-negativ';*/
  toolTip = document.createElement('div');
  toolTip.className = 'floating-tooltip-2';
  document.querySelector(".js-chart-graph").appendChild(toolTip);
  //document.querySelector(".js-chart-graph").appendChild(negativChart);
  chart = LightweightCharts.createChart(document.querySelector(".js-chart-graph"), {
    height: 186,
    rightPriceScale: {
		  scaleMargins: {
			  top: 0.1,
			  bottom: 0.1,
		  },
		  mode: LightweightCharts.PriceScaleMode.Percentage
	  },
  });
};

const renderOptions = (i) => {
  removeSeries(areaSeries);
  areaSeries = chart.addAreaSeries({
    topColor: 'rgba(119, 202, 13, 0.5)',
    bottomColor: 'rgba(119, 202, 13, 0.1)',
    lineColor: '#00b68a',
    lineStyle: 0, 
    lineWidth: 3, 
    crosshairMarkerVisible: true, 
    crosshairMarkerRadius: 4,
    crosshairMarkerBorderColor: '#ffffff',
    crosshairMarkerBackgroundColor:'#51587b',
    Linetype: 1,
    autoscaleInfoProvider : ( )  =>  ( { 
        priceRange : { 
            minValue : -5, 
            maxValue : 7.5 , 
        } , 
    } ) ,
  });
  areaSeries.applyOptions({
    baseLineColor: 'black',
    baseLineStyle: 1,
  });
//настройка шкалы цен(значений), шкалы времени, сетки, водяной знак, макет, прокрутка, масштабирование
  chart.applyOptions({
    priceScale: {
      autoScale: false,
      //mode: 2,
      invertScale: false,
      alignLabels: false,
      borderVisible: false,
      borderColor: '#555ffd',
      drawTicks: false
    },
    timeScale: {
      borderVisible: true,
      timeVisible: false,
      secondsVisible: false,
      fixLeftEdge: false,
      tickMarkFormatter: (time, tickMarkType, locale) => {
        console.log(time, tickMarkType, locale);
        const year = LightweightCharts.isBusinessDay(time) ? time.year : new Date(time * 1000).getUTCFullYear();
        const month = LightweightCharts.isBusinessDay(time) ? time.month : new Date(time * 1000).getUTCMonth();
        return String(month+' '+year);
      },
    },
    crosshair: {
      vertLine: {
        color: '#6A5ACD',
        width: 0.5,
        style: 0,
        visible: true,
        labelVisible: false,
      },
      horzLine: {
        color: '#6A5ACD',
        width: 0.5,
        style: 0,
        visible: false,
        labelVisible: false,
      },
      mode: 1,
    },
    grid: {
      vertLines : {  
        visible : false, 
      }, 
      horzLines : {
        color : '#c7d0db', 
        style : 2, 
        visible : true, 
      },
    },
    localization: {
      locale: "en-US",
      priceFormatter: price => {
      return price.toLocaleString("ru-RU");
      },
      dateFormat: 'dd/MM/yyyy',
    },
  });

  chart.subscribeCrosshairMove(handleCrosshairMoved);

  areaSeries.setData(
    getSeriesData(dataChart, "value")
  );
};

const removeSeries = (item) => {
  if (item) {
    chart.removeSeries(item);
    item = null;
  }
};
const getSeriesData = (data, metric) => {
  return data.map(r => {
    return {
      value: r[metric],
      time: r.time
    };
  });
};
const handleCrosshairMoved = (param) => {
  if (param.point === undefined || !param.time || param.point.x < 0 || param.point.x > 812 || param.point.y < 0 || param.point.y > 186) {
		toolTip.style.display = 'none';
	} else {
    tooltipTime = businessDayToString(param.time);
    toolTip.style.display = 'block';
    toolTip.style.position = 'absolute';//
    toolTip.style.zIndex = '1000';//
    toolTip.style.boxSizing = 'border-box';//
    toolTip.style.width = '80px';//
    toolTip.style.height = '50px';//
    toolTip.style.borderRadius = '5px';//
    toolTip.style.border = '1px solid #51587b';//
    toolTip.style.background = 'white';//
    toolTip.style.textAlign = 'center';//
    let price = param.seriesPrices.get(areaSeries);
    let price0 = dataChart[0].value;
    tooltipValue = Math.round((price - price0) * 100) / 100;
    toolTip.innerHTML = '<div style="font-size:10px;font-weight:600;margin-top:6px;color:#21384d">' + tooltipTime + '</div><div style="color: #00b68a;font-size:12px; font-weight:700;">' + Math.round((tooltipValue * 3.89)*100)/100 + '%</div>';
    let coordinate = areaSeries.priceToCoordinate(price);
		let shiftedCoordinate = param.point.x - 42;
		if (coordinate === null) return;
		shiftedCoordinate = Math.max(0, Math.min(812 - toolTipWidth, shiftedCoordinate));
		let coordinateY = coordinate - toolTipHeight - toolTipMargin > 0 ? coordinate - toolTipHeight - toolTipMargin : Math.max(0, Math.min(186 - toolTipHeight - toolTipMargin, coordinate + toolTipMargin));
    toolTip.style.left = shiftedCoordinate + 'px';
    toolTip.style.top = coordinateY + 'px';
  };
};
const businessDayToString = (businessDay) => {
	return businessDay.day + ' ' + businessDay.month + ' ' + businessDay.year;
};
const changePendingPeriod = (index) => {
  if (btnGroupChart[index].loading) return;
  if (!dataChart) {
    getHistory(index);
  } else {
    getHistory(index); //
    currentPeriod = index;
  }
};
const choicePeriod = (index) => pendingPeriod = index;
const getHistory = async (index) => {
  btnGroupChart[index].loading = true;
  (btnGroupChart[index].api === "1d") ? dataChart = data.dayData : (btnGroupChart[index].api === "1w") ? dataChart = data.weekData : 
  (btnGroupChart[index].api === "1m") ? dataChart = data.monthData : (btnGroupChart[index].api === "6m") ? dataChart = data.halfYearData : 
  (btnGroupChart[index].api === "1y") ? dataChart = data.yearData : (btnGroupChart[index].api === "5y") ? dataChart = data.fiveYearData : 
  (btnGroupChart[index].api === "all") ? dataChart = data.fullTime : btnGroupChart[index].loading = false;
  btnGroupChart[index].loading = false;
  if (pendingPeriod == index) currentPeriod = index; // Условие на случай если идет паралельная загрузка нескольких периодов
  isLoading = false;
};   

onMount(async () => {
  LightweightCharts = await import("lightweight-charts");
  createChartContainer();
  renderOptions(0);
});
$: changePendingPeriod(pendingPeriod);
$: if(currentPeriod) renderOptions(currentPeriod);
$: console.log('currentPeriod: ', currentPeriod);
$: console.log('pendingPeriod: ', pendingPeriod);
$: console.log('dataChart: ', dataChart);
</script>
    
<style lang="scss">
.prtflChart {  
  background: #fff;
  //background: #a3eca966;
  border-radius: 4px; 
  &__caption {
    padding-top: 16px;
    padding-left: 24px;
    box-shadow: 0 1px #eceff1;
    height: 72px;
    display: grid;
    grid-template-columns: 164px 168px 191px 142px 141px;
    &0 {
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width:164px;      
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: black;
        font-size: 20px;
        font-weight: 800;
        :first-child {
          font-size: 20px;
          font-weight: 400;
          color: black;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &1 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 168px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {        
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 16px;
          font-weight: 600;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &2 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 191px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 16px;
          font-weight: 600;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &3 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 142px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: #00b68a;
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 17px;
          font-weight: 400;
          color: #00b68a;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &4 {
      padding-left: 24px;
      height: 40px;
      width: 141px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: black;
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 17px;
          font-weight: 400;
          color: black;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
  }
  &__btn {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 22px;
    width: 129px;
    height: 32px;
    text-align: center;
    background: #f6f7fc;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 4px 12px;
    box-shadow: inset 3px 0 0 #1b7afa;
    color: #51587b;
    cursor: pointer;
  }
  &__chart {
    height: 186px;
    margin: 0 24px;
    background: #f6f7fc;
    position: relative;
    &-negativ {
      border: 2px solid #f34161;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      background: linear-gradient(180deg, rgba(255, 38, 103, 0.5)0%, rgba(255, 38, 103, 0.1)100%);
    } 
  }
  &__btnGroup {
    margin: 23px 262px;
    height: 34px;
    display: grid;
    grid-template-columns: repeat(7,48px);
    :nth-child(n) {
      background: #f6f7fc;
      border-radius: 4px;
      border:1px solid #ecedf2;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
  }  
}
.floating-tooltip-2 {
  width: 96px;
	height: 80px;
	position: absolute;
	display: none;
	padding: 8px;
	box-sizing: border-box;
	font-size: 12px;
	color: #131722;
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	z-index: 1000;
	top: 12px;
	left: 12px;
	pointer-events: none;
	border: 1px solid rgba(0, 150, 136, 1);
	border-radius: 2px;    
}  
</style>