<div class="prtflChart">
  <div class="prtflChart__caption">
    {#each captionChart as item, i}
      <div class="prtflChart__caption{i}">
        {#if i === 1 || i === 2}
          <span style={styleCaption(item.value1)}>{item.value1} <span style={styleCaption(item.value2)}>{item.value2}</span></span>
        {:else}
          <span>{item.value1} <span>{item.value2}</span></span>
        {/if}
        <div>{item.name}</div>
      </div>
    {/each}
  </div>
  <button class="prtflChart__btn">
    S&P500 INDEX
    <img src={enter} alt="Меню">
  </button>
  <div class="prtflChart__chart" >
    <Line data={dataLine} {options} />
  </div>  

  <div class="prtflChart__btnGroup">
    {#each btnGroupChart as item, i}
      <button on:click={()=>handleSetBtnGroup(i)} style={styleBtnGroup[i]}>{item.en}</button>
    {/each}
  </div>
</div>

<script>
import { onMount } from 'svelte';
import Line from "svelte-chartjs/src/Line.svelte";
import { data } from "../assets/tempData/chartData.js";
//import crosshair from 'chartjs-plugin-crosshair';

import enter from 'icons/enter_icon.png';

//let crosshair;
let dataChart = data.dayData;
let labelsTime ;
let dataValue ;
let dataPosPercentValue;
let dataNegPercentValue;
let dataEndValue;
let dataNullValue;
let dataLine = { labels: [], datasets: [ { data: [] }, { data: [] }, { data: []}, {data: []} ] };
let options = {
  responsive: true,
  maintainAspectRatio: false,
  legend: {display: false},
  tooltips: {
    //mode: 'interpolate',
    enabled: true,
    intersect: false,
    borderColor: "#51587b",
    borderWidth: 1,
    position: "nearest",
    xPadding: 12,
    yPadding: 6,
    backgroundColor: "#ffffff",
    titleFontSize: 10,
    titleFontStyle: "normal",
    titleFontColor: "#000",
    bodyFontColor: "#00b68a",
    bodyFontSize: 12,
    bodyFontStyle: "bold",
    callbacks: {
      labelColor: function(tooltipItem, chart) {
        return {
          borderColor: 'transparent',
          backgroundColor: 'transparent'
        };
      },
      label: function(tooltipItem, dataLine) {
        var label = dataLine.datasets[tooltipItem.datasetIndex].label || '';

        if (label) {
          label += ': ';
        }
        label += Math.round(tooltipItem.yLabel * 10) / 10 + '%';
          return label;
      }
    }
  },
  plugins: {
    /*crosshair: {
      line: {
        color: '#31587b', // crosshair line color
        width: 1  // crosshair line width
      },
      sync: {
        enabled: false, // enable trace line syncing with other charts
        group: 1,                 // chart group
        suppressTooltips: false
      },
      zoom: {
        enabled: false
      },
      snap: {
        enabled: true
      }
    }*/
  },  
  scales: {
    yAxes: [{
      type: 'linear',
      position: 'right',
      offset: false,
      gridLines: {
        display: true,
        drawTicks: true,
        tickMarkLength: 0,
        zeroLineColor: 'rgba(0, 0, 0, .1)',
      },
      ticks: {
        max: 7.5,
        min: -5,
        stepSize: 2.5,
        padding: 8,
        fontCoolor: '#333',
        fontFamily: 'OpenSans',
        fontSize: 12,
        fontStyle: 'bold',
        callback: function(value, index, values) {
          return value + '%';
        }
      },
    }],
    xAxes: [{
      id: 'x-axes-0',
      type: 'time',
      offset: false,
      gridLines: {
        offsetGridLines: false,
        zeroLineWidth: 1,
        zeroLineColor: 'rgba(0, 0, 0, .1)',
        display: true
      },
      ticks: {
        display: true,
        padding: 0,
        fontCoolor: '677fa0',
        fontFamily: 'OpenSans',
        fontSize: 12,
      },
      time: {
        unit: 'month',
        displayFormats: {month: "MMMM YYYY"},
        tooltipFormat: "ll"
      }
    }]
  }          
};

let bkgColor = [
  "rgba(119, 202, 13, .3)",// зеленый
  "rgba(255, 38, 103, .3)"// красный
];
let brdColor = [
  "#00b68a",// зеленый
  "#f34161" // красный
];

let btnGroupChart = [
  { en: "1D", ru: "1Д", api: "1d", loading: false },
  { en: "1W", ru: "1Н", api: "1w", loading: false },
  { en: "1M", ru: "1М", api: "1m", loading: false },
  { en: "6M", ru: "6М", api: "6m", loading: false },
  { en: "1Y", ru: "1Г", api: "1y", loading: false },
  { en: "5Y", ru: "5Л", api: "5y", loading: false },
  { en: "All", ru: "Все", api: "all", loading: false }
];
let captionChart = [
  {
    name: 'Total Value',
    value1: '20,474.09',
    value2: 'USD'
  },
  {
    name: 'Today`s Change',
    value1: '-88.25',
    value2: '+0.94%'
  },
  {
    name: 'Total Gain',
    value1: '+2,387.77',
    value2: '-4.98%'
  },
  {
    name: 'Realized P/L',
    value1: '578.90',
    value2: 'USD'
  },
  {
    name: 'Available Cash',
    value1: '12,938.87',
    value2: 'USD'
  }
];
let styleBtnGroup = [];
let pendingPeriod = 0;

$: styleCaption = (value) => value.match(/\+/) ? 'color: #00b68a;' : 'color: #f34161;';
$: styleBtnGroup[pendingPeriod] = 'background:#51587b;color:white;box-shadow:0 0 4px rgba(0, 0, 0, 0.16);';
const handleSetBtnGroup = (i) => {
  handleClearBtnGroup();
  pendingPeriod = i;
  btnGroupChart[i].loading = true;
  (btnGroupChart[i].api === "1d") ? dataChart = data.dayData : (btnGroupChart[i].api === "1w") ? dataChart = data.weekData : 
  (btnGroupChart[i].api === "1m") ? dataChart = data.monthData : (btnGroupChart[i].api === "6m") ? dataChart = data.halfYearData : 
  (btnGroupChart[i].api === "1y") ? dataChart = data.yearData : (btnGroupChart[i].api === "5y") ? dataChart = data.fiveYearData : 
  (btnGroupChart[i].api === "all") ? dataChart = data.fullTime : dataChart = data.dayData;
  btnGroupChart[i].loading = false;
  renderGraph();
  startRender();  
};
const handleClearBtnGroup = () => styleBtnGroup = [];
const GraphValues = () => {
  if(dataChart) {
    dataValue = [];
    labelsTime = [];
    dataChart.filter((name) => {
      dataValue = [ ...dataValue, name.value ];
      labelsTime = [ ...labelsTime, name.time ];
    });
  };
};

const renderGraph = () => {
  dataNegPercentValue = [];
  dataPosPercentValue = [];
  dataEndValue = [];
  dataNullValue = [];
  GraphValues();
  let maximum = Math.max.apply(null, dataValue);
  let minimum = Math.min.apply(null, dataValue);
  let nullPercent = (maximum - minimum)/2;
  let k = 5/(Math.round(nullPercent*10)/10);
  for(let i = 0; i < dataValue.length; i++) {
    dataValue[i] - (minimum + nullPercent) < 0.05 ? dataNegPercentValue = [...dataNegPercentValue, (dataValue[i] - (minimum + nullPercent))*k] : dataNegPercentValue = [...dataNegPercentValue, null];
    dataValue[i] - (minimum + nullPercent) > -0.05 ? dataPosPercentValue = [...dataPosPercentValue, (dataValue[i] - (minimum + nullPercent))*k] : dataPosPercentValue = [...dataPosPercentValue, null];  
  };
  for(let i = 0; i < dataValue.length; i++) { 
    dataEndValue = [ ...dataEndValue, dataPosPercentValue[dataValue.length - 1]];
    //dataNullValue = [...dataNullValue, 0.0];
  };
  if(labelsTime) {
    dataLine.labels = labelsTime;
    dataLine.datasets[0].data = dataPosPercentValue;
    dataLine.datasets[0].backgroundColor = [];
    dataLine.datasets[0].borderColor = [];
    dataLine.datasets[0].backgroundColor = bkgColor;
    dataLine.datasets[0].borderColor = brdColor;

    dataLine.datasets[1].data = dataNegPercentValue;
    dataLine.datasets[1].backgroundColor = [];
    dataLine.datasets[1].borderColor = [];
    dataLine.datasets[1].backgroundColor = bkgColor;
    dataLine.datasets[1].borderColor = brdColor;

    dataLine.datasets[2].data = dataEndValue;

    dataLine.datasets[3].data = dataNullValue;
  }
};
const startRender = () => {
  dataLine.datasets[0].fill = 'origin';
  dataLine.datasets[0].LineTension = 0;
  dataLine.datasets[0].borderWidth = 2;
  dataLine.datasets[0].pointHoverRadius = 5;
  dataLine.datasets[0].pointHoverBackgroundColor = "#51587b";
  dataLine.datasets[0].pointHoverBorderColor = "rgba(220, 220, 220,1)";
  dataLine.datasets[0].pointHoverBorderWidth = 3;
  dataLine.datasets[0].pointRadius = 0;
  dataLine.datasets[0].pointHitRadius = 10;
  dataLine.datasets[0].backgroundColor = bkgColor[0];//
  dataLine.datasets[0].borderColor = brdColor[0];//

  dataLine.datasets[1].fill = 'origin';
  dataLine.datasets[1].LineTension = 0;
  dataLine.datasets[1].borderWidth = 2;
  dataLine.datasets[1].pointHoverRadius = 5;
  dataLine.datasets[1].pointHoverBackgroundColor = "#51587b";
  dataLine.datasets[1].pointHoverBorderColor = "rgba(220, 220, 220,1)";
  dataLine.datasets[1].pointHoverBorderWidth = 3;
  dataLine.datasets[1].pointRadius = 0;
  dataLine.datasets[1].pointHitRadius = 10;
  dataLine.datasets[1].backgroundColor = bkgColor[1];//
  dataLine.datasets[1].borderColor = brdColor[1];//

  for(let i = 0; i < 2; i++) {
    dataLine.datasets[i+2].backgroundColor = "transparent";
    dataLine.datasets[i+2].borderColor = "#c7d0db";
    dataLine.datasets[i+2].borderDash = [2, 2];
    dataLine.datasets[i+2].pointRadius = 0;
    dataLine.datasets[i+2].pointBorderColor = "transparent";
  };
  //options.plugins.crosshair.sync.suppressTooltips = false;
};

onMount(async () => {
  //crosshair = await import('chartjs-plugin-crosshair');
  //renderGraph();
  //startRender();
  await setTimeout(() => {
    renderGraph();
    startRender();
    }, 1500);
  }
);
//$: if(dataValue) console.log('DataValue: ', dataValue[ dataValue.length - 1 ]);
//$: if(dataValue) console.log('lengthDataValue: ', dataValue.length);
//$: if(dataPosPercentValue) console.log('LengthPosGraph: ', dataPosPercentValue.length);
//$: if(dataNegPercentValue) console.log('LengthNegGraph: ', dataNegPercentValue.length);
//$: if(dataEndValue) console.log('LengthEndGraph: ', dataEndValue.length);
</script>

<style lang="scss">
.prtflChart {  
  background: #fff;
  //background: #a3eca966;
  border-radius: 4px; 
  &__caption {
    padding-top: 16px;
    padding-left: 24px;
    box-shadow: 0 1px #eceff1;
    height: 72px;
    display: grid;
    grid-template-columns: 164px 168px 191px 142px 141px;
    &0 {
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width:164px;      
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: black;
        font-size: 20px;
        font-weight: 800;
        :first-child {
          font-size: 20px;
          font-weight: 400;
          color: black;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &1 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 168px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {        
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 16px;
          font-weight: 600;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &2 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 191px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 16px;
          font-weight: 600;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &3 {
      padding-left: 24px;
      height: 40px;
      box-shadow: 1px 0  #eceff1;
      width: 142px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: #00b68a;
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 17px;
          font-weight: 400;
          color: #00b68a;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
    &4 {
      padding-left: 24px;
      height: 40px;
      width: 141px;
      display: grid;
      grid-template-rows: 24px 16px;
      :first-child {
        color: black;
        font-size: 17px;
        font-weight: 700;
        :first-child {
          font-size: 17px;
          font-weight: 400;
          color: black;
        }
      }
      :last-child {
        font-size: 12px;
        font-weight: 600;
        color: #677fa0;
      }
    }
  }
  &__btn {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 22px;
    width: 129px;
    height: 32px;
    text-align: center;
    background: #f6f7fc;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 4px 12px;
    box-shadow: inset 3px 0 0 #1b7afa;
    color: #51587b;
    cursor: pointer;
  }
  &__chart {
    height: 186px;
    margin: 0 24px;
    position: relative; 
  }
  &__btnGroup {
    margin: 23px 262px;
    height: 34px;
    display: grid;
    grid-template-columns: repeat(7,48px);
    :nth-child(n) {
      background: #f6f7fc;
      border-radius: 4px;
      border:1px solid #ecedf2;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
  }  
}
.floating-tooltip-2 {
  width: 96px;
	height: 80px;
	position: absolute;
	display: none;
	padding: 8px;
	box-sizing: border-box;
	font-size: 12px;
	color: #131722;
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	z-index: 1000;
	top: 12px;
	left: 12px;
	pointer-events: none;
	border: 1px solid rgba(0, 150, 136, 1);
	border-radius: 2px;    
}
</style>