<div class="footer">
  <p>Разработка <a href="https://Vit_Ko.ru" target="_blank">Vit-Ko</a></p>
  <p>Эл.почта: knnaksay@gmail.com</p>
  <p>Телефон: +7 928 191 56 46</p>
  <p class="copyright">Copyright Vit_Ko © 2020 - {currentYear}. All rights reserved.</p>   
</div>

<script>
import { onMount } from 'svelte';

let currentYear = '';
onMount(() => currentYear = new Date().getFullYear());    
</script>

<style lang="scss">
.footer {
  background-color: #252525;
  p {
      padding: 0 $spacer*3;  
      color: #969696; 
      margin: 2px 0 0;
  }; 

  .copyright {
    text-align: center;  
    border-top: 1px solid #fff;
}
}
  
</style>