<header class="header">  
  <div class="container-no-height">
    <div class="header__wrap">
      <Logo></Logo>
      <Nav {segment} />
      <!--<Search></Search>-->
      <AuthBtnGroup></AuthBtnGroup>
      <Account></Account>
    </div>
  </div>
</header>

<script>
import Logo from './Logo.svelte';
import Nav from './Nav.svelte';
//import Search from './Search.svelte';
import AuthBtnGroup from './AuthBtnGroup.svelte';
import Account from './Account.svelte';

export let segment;

</script>

<style lang="scss">  
.header {
  &__wrap {
    display: grid;
    grid-template-columns: 55px 335px repeat(3, 1fr);
    justify-content:space-between;
  }
}    
</style>