<div class="prtflLastTransactions">
  <div class="prtflLastTransactions__caption">
    <span>Last Transactions</span>
    <a href="/">See All</a>
  </div>
  <div class="prtflLastTransactions__content">    
    {#each prtflLastTrans as item }
      <div class="prtflLastTransactions__content-block">
        <div class="prtflLastTransactions__content-block1">
          <span>{item.title1}</span>
          <span>{item.value1}</span>
        </div>
        <div class="prtflLastTransactions__content-block2">
          <span>{item.title2}</span>
          <span style={styleValue(item.value2)}>{item.value2}$</span>
        </div>
      </div>
    {/each}
  </div>
</div>
  
<script>
let prtflLastTrans = [
  {
    title1: 'Broker Commission',
    title2: 'Freedom Finance',
    value1: 'September 25',
    value2: '-0.24'
  },
  {
    title1: 'Sold 100 shares Apple, Inc.',
    title2: 'Freedom Finance',
    value1: 'September 25',
    value2: '+1.160'
  },
  {
    title1: 'Broker Commission',
    title2: 'Freedom Finance',
    value1: 'August 6',
    value2: '-0.24'
  },
  {
    title1: 'Bought 100 shares Apple, Inc. ',
    title2: 'Freedom Finance',
    value1: 'August 6',
    value2: '-956.50'
  },
];
  
const styleValue = (value) => value.match(/\+/) ? 'color: #00b68a;' : 'color: #333333';
</script>
      
<style lang="scss">
.prtflLastTransactions {  
  background: #fff;
  border-radius: 4px; 
  &__caption {
    height: 72px;
    padding: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: #333333;
    display: flex;
    justify-content: space-between;
    :last-child {
      color: #1b7afa;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__content {
    padding: 0px 24px;
    &-block {
      height: 64px;
      padding: 10px 0px;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
      &1 {
        display: flex;
        justify-content: space-between;      
        :first-child {
          color: #333333;
          line-height: 20px;
          font-size: 14px;
          font-weight: 700;
        };
        :last-child {
          color: #677fa0;
          line-height: 19px;
          font-size: 14px;
          font-weight: normal;
        };
      }
      &2 {
        display: flex;
        justify-content: space-between;
        :first-child {
          color: #333333;
          line-height: 24px;
          font-size: 14px;
          font-weight: 400;
        };
        :last-child {
          color: #51587b;
          line-height: 19px;
          font-size: 14px;
          font-weight: bold;
        };
      }
    }
  }
}  
</style>