<a href="/" class="logo"><img height="48px" width="48px" src={krovlya} alt="Вит-Ко"></a>
<script>
import krovlya from 'images/krovlya.jpg';    
</script>

<style lang="scss">
.logo {
  display: grid;
  padding: 4px 0;
}  
</style>