<div class="myPortfolios">
  <div class="myPortfolios__caption">My Portfolios</div>
  <div class="myPortfolios__blocks">
    {#each myPortfolios as item, i}
      <div class="myPortfolios__blocks-{i}">
        {#if btnActive === false}
          <div class="myPortfolios__blocks-{i}up">
            <span class="myPortfolios__blocks-{i}up0">{item.upName2}</span>
            {#if i === 0}          
              <span>{item.upDownName}</span>
            {/if}
          </div>
        {:else}
          <div class="myPortfolios__blocks-{i}up">
            <span class="myPortfolios__blocks-{i}up0">{item.upName1}</span>
            <span>{item.upDownName}</span>
          </div>
        {/if}  
          <div class="myPortfolios__blocks-{i}cntr">
            <span class="myPortfolios__blocks-{i}cntr0">{item.cntrName}</span>
            <span class="myPortfolios__blocks-{i}cntr1">${item.cntrValue}</span>
          </div>
        {#if btnActive === false}
          <div class="myPortfolios__blocks-{i}down">
            <span class="myPortfolios__blocks-{i}down0">{item.downName2}</span>
            <span class="myPortfolios__blocks-{i}down1" class:stylePlus={style(item.downValue2)}>{item.downValue2}</span>
          </div> 
        {:else}
          <div class="myPortfolios__blocks-{i}down">
            <span class="myPortfolios__blocks-{i}down0">{item.downName1}</span>
            <span class="myPortfolios__blocks-{i}down1" class:stylePlus={style(item.downValue1)}>{item.downValue1}</span>
          </div>
        {/if}
        {#if i !== 0}
          <img src={vertPoints} alt="Выбрать" class="myPortfolios__blocks-{i}icon">
        {/if}  
      </div>
    {/each}       
    <div class="myPortfolios__blocks-3"><img src={plus} alt="Добавить"></div>  
  </div>
</div>

<script>
import plus from 'icons/plus.png';
import vertPoints from 'icons/vert_points.png';

export let btnActive;

let myPortfolios = [
  {
    upName1: 'All Accounts',
    upName2: 'All Portfolios',
    upDownName: 'All Brokers',
    cntrName: 'TOTAL VALUE',
    cntrValue: '18,984.65',
    downName1: 'TOTAL CHANGE',
    downName2: 'TOTAL GAINE',
    downValue1: '-1,208.39(-2.11%)',
    downValue2: '+2,363.65(+4.98%)'
  },
  {
    upName1: 'Broker Account',
    upName2: 'My Top',
    upDownName: 'Freedon Finance',
    cntrName: 'MARKET VALUE',
    cntrValue: '18,984.65',
    downName1: 'TOTAL CHANGE',
    downName2: 'TOTAL GAINE',
    downValue1: '-24.22(-0.12%)',
    downValue2: '+12.334.66(+0.08%)'
  },
  {
    upName1: 'Broker Account',
    upName2: 'REITs',
    upDownName: 'Open Broker',
    cntrName: 'MARKET VALUE',
    cntrValue: '1,390.56',
    downName1: 'TOTAL CHANGE',
    downName2: 'TOTAL GAINE',
    downValue1: '+2,387.77(+8.46%)',
    downValue2: '-3,144.87(-9.45%)'
  },
];

$: style = (value) => value.match(/\+/) ? true : false;
</script>
  
  <style lang="scss">
  .myPortfolios {
    grid-area: my-prtfl;  
    background: #fff;
    border-radius: 4px;
    padding-left: 24px; 
    &__caption {
      height: 72px;
      padding-top: 22px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;
      color: #333333;
    }
    &__blocks {
      height: 170px;
      display: grid;
      grid-template-columns: repeat(3, 280px) 60px;
      gap: 20px;      
      &-0 {
        background: #51587b;
        border-radius: 4px;
        border-radius: 4px;
        padding: 12px 16px;
        display: grid;
        grid-template-rows: 40px 38px 34px;
        gap: 16px;
        &up {
          font-size: 16px;
          font-weight: 600;
          color: #677fa0;
          display: grid;
          grid-template-rows: 20px 20px;
          &0 {color: white;}
        }
        &cntr {
          display: grid;
          grid-template-rows: 14px 24px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 20px;
            font-weight: bold;
            color: white;
          }
        }
        &down {
          display: grid;
          grid-template-rows: 14px 20px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 14px;
            font-weight: bold;
            color: #F34161;
          }
        }
      }
      &-1 {
        position: relative;
        background: #f6f7fc;
        border-radius: 4px;
        padding: 12px 16px;
        display: grid;
        grid-template-rows: 40px 38px 34px;
        gap: 16px;
        &up {
          font-size: 16px;
          font-weight: 600;
          color: #677fa0;
          display: grid;
          grid-template-rows: 20px 20px;
          &0 {color: black;}
        }
        &cntr {
          display: grid;
          grid-template-rows: 14px 24px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 20px;
            font-weight: bold;
            color: black;
          }
        }
        &down {
          display: grid;
          grid-template-rows: 14px 20px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 14px;
            font-weight: bold;
            color: #F34161;
          }
        }
        &icon {
          position: absolute;
          top: 16px;
          right: 14px;
        }
      }
      &-2 {
        position: relative;
        background: #f6f7fc;
        border-radius: 4px;
        padding: 12px 16px;
        display: grid;
        grid-template-rows: 40px 38px 34px;
        gap: 16px;
        &up {
          font-size: 16px;
          font-weight: 600;
          color: #677fa0;
          display: grid;
          grid-template-rows: 20px 20px;
          &0 {color: black;}
        }
        &cntr {
          display: grid;
          grid-template-rows: 14px 24px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 20px;
            font-weight: bold;
            color: black;
          }
        }
        &down {
          display: grid;
          grid-template-rows: 14px 20px;
          &0 {
            font-size: 10px;
            font-weight: bold;
            color: #677fa0;
          }
          &1 {
            font-size: 14px;
            font-weight: bold;
            color: #f34161;
          }
        }
        &icon {
          position: absolute;
          top: 16px;
          right: 14px;
        }
      }
      &-3 {
        background: #f6f7fc;
        border-radius: 4px;
        color: #1b7afa;
        text-align: center;
        &>img {margin-top: 78px;}
      }
    }
  }
  .stylePlus {color: #00b68a;}  
  </style>