<!-- *****  News Card **** -->
<div class="prtflNews">
  <div class="prtflNews__caption">
    <a href="/">News</a>
    <span></span>
    <!--<span>&nbsp;•&nbsp;</span>-->    
    <span>2 minutes ago</span>
  </div>
  <div class="prtflNews__btn">
    <button class="prtflNews__btn-1" style={styleBtn(vl1)}>
      <span>AAPL</span>
      <span style={styleValue(vl1)}>{vl1}</span>
    </button>
    <button class="prtflNews__btn-2" style={styleBtn(vl2)}>
      <span>AMZN</span>
      <span style={styleValue(vl2)}>{vl2}</span>
    </button>
  </div>
  <span class="prtflNews__capTxt"><a href="/" class="prtflNews__capTxt-link">{capTxt}</a></span>
  <p class="prtflNews__txt">{cutTheDescription(txt)}&nbsp;...</p>
  <img src={more} alt="More..." class="prtflNews__icon">
</div>

<script>
import more from 'icons/pnt_grz.svg';

let vl1 = '+1.38%';
let vl2 = '-0.45%';
let capTxt = 'Stock market opinions abound - here’s an objective way to tell when the market bottoms';
let txt = 'As the coronavirus has spread in the U.S., the stock market has become extraordinarily volatile. Investors and professional money managers are having difficulty analyzing the stock';

const cutTheDescription = (str) =>{
  return str.substring(0, 180);
};

$: styleValue = (value) => value.match(/\+/) ? 'color: #00b68a;' : value.match(/\-/) ? 'color: #f34161;' : 'color: #333';
$: styleBtn = (value) => value.match(/\+/) ? 'background: rgba(0, 182, 138, 0.04); box-shadow: inset 2px 0 0 #00b68a;' : 'background: rgba(243, 65, 97, 0.04); box-shadow: inset 2px 0 0 #f34161;';
</script>
<!-- ***** Temp. News Card **** -->
<!-- <div>
  <div class="news-card">
    <nuxt-link :to="localePath('/news/feed/' + news.id)"
      ><img
        :src="`https://api.ifinik.com/${news.photos[0]}`"
        alt=""
        class="news-card__image"
        v-if="news.photos[0]"
    /></nuxt-link>

    <div class="news-card__content">
      <div class="content-item__info">
        <nuxt-link :to="localePath('news')" class="info-item__caption">{{
          $t(`menuList[1].name`)
        }}</nuxt-link>
        <span class="info-item__point">&nbsp;•&nbsp;</span>
        <TimeAgoTicker :date="normalizeDate" />
      </div>
      <div
        class="content-item__info"
        v-if="arrTickers[0] && arrTickers.length <= 2"
      >
        <MarketsRateBtn
          v-for="el in arrTickers"
          :key="el.id"
          :shortCompanyName="el.ticker"
          :value="fixedNumber(el.value)"
        />
      </div> -->
      <!-- <div class="content-item__info" v-if="arrTickers.length > 2">
        <MarketsRateBtn
          v-for="item in 2"
          :key="item"
          :shortCompanyName="arrTickers[item].ticker"
          :value="fixedNumber(arrTickers[item].value)"
        />
        <NumberTicker :number="arrTickers.length - 2" />
      </div>
      <h4 class="content-item__title">
        <nuxt-link
          class="content-item__link"
          :to="localePath('/news/feed/' + news.id)"
        >
          {{ news.title }}</nuxt-link
        >
      </h4>
      <p v-if="news.description" class="content-item__description">
        {{ cutTheDescription(news.description) }}&nbsp;...
      </p>
      <p v-if="news.text" class="content-item__description">
        {{ cutTheDescription(news.text) }}&nbsp;...
      </p>
    </div>
  </div>
</div> -->
          
<style lang="scss">
.prtflNews {  
  background: #fff;
  border-radius: 4px;
  padding: 24px 24px;
  position: relative;
  &__caption {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #677fa0;
    display: flex;
    align-items: center;
    :first-child {
      color: #1b7afa;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
    }
    :nth-child(2) {
      min-width: 4px;
      height: 4px;
      margin-left: 6px;
      margin-right: 6px;
      border-radius: 100%;
      background: #677fa0;
    }
    :last-child { letter-spacing: 0.02em;}
  }
  &__btn {
    margin-top: 16px;
    margin-bottom: 20px;
    height: 24px;    
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(34, 34, 34, 0.4);
    display: flex;
    text-align: center;
    &-1 {
      padding: 4px 10px;
      min-width: 94px;
      cursor: pointer;
    }
    &-2 {
      padding: 4px 10px;
      margin-left: 8px;
      min-width: 94px;
      cursor: pointer;
    }
  }  
  &__capTxt {
    height: 84px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    font-style: normal;
    &-link {
      color: #333;
      text-decoration: none;
      transition: color 0.25s ease-in-out;

      &:hover {
        color: #1b7afa;
        cursor: pointer;
      }
    }
  }
  &__txt {
    margin-top: 8px;
    height: 96px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: #333;
  }
  &__icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
} 
</style>