<div class="prtflPositions">
  <div class="prtflPositions__caption">
    <span>Positions</span>
    <a href="/">Add Position</a>
  </div>
  <div class="prtflPositions__table">
    <!-- ***** Table Header **** -->
    <div class="prtflPositions__tableHeader">
      <div class="prtflPositions__tableHeader-left">
        <img src={ gear } alt="Gear">
        <span>SYMBOL</span>
        <img src={ desc } alt="Desc">
      </div>
      <div></div>      
      {#each tableHeaders as item, i}
        <div>
          <img src={ sort_down } alt="Sort">
          <span>{ item }</span>
          <div class:prtflPositions__tableHeader_border={ i!=0 }></div>
        </div>          
      {/each}
    </div>
    <!-- ***** Table Content **** -->
    <div class="prtflPositions__tableContainer">
      { #each tableValues as item, i }
        <div class="prtflPositions__tableContainerRow">        
          <div class="prtflPositions__tableContainerRow-left">
            <img src={ item.logo } alt="Logo" class="prtflPositions__tableContainerRow-left1">
            <div class="prtflPositions__tableContainerRow-left2">
              <span>{ item.ticker }</span>
              <span>{ item.name }</span>
            </div>
          </div>
          <div class="prtflPositions__tableContainerRow-2">
            <span>{ item.vl_def }</span>
          </div>     
          <div class="prtflPositions__tableContainerRow-3">
            <span>{ item.qty }</span>
          </div>
          <div class="prtflPositions__tableContainerRow-4">
            <span>{ item.lastPrice }</span>
          </div>
          <div class="prtflPositions__tableContainerRow-5">
            <span style={styleValue( item.mkt1 )}>{ item.mkt1 }</span>
            <span style={styleValue( item.mkt2 )}>{ item.mkt2 }</span>
          </div>
          <div class="prtflPositions__tableContainerRow-6">
            <span style={styleValue( item.gain1 )}>{ item.gain1 }</span>
            <span style ={styleValue( item.gain2 )}>{ item.gain2 }</span>
          </div>
        </div>
      { /each }
    </div>
  </div>
</div>

<script>
import desc from 'icons/icon-desc.svg';
import sort_down from 'icons/icon-sort-off.svg';
import gear from 'icons/icon-gear.svg';
import amzn from 'images/AMZN.svg';
import bac from 'images/BAC.svg';
import msft from 'images/MSFT.svg';

let tableHeaders = [ 'QTY', 'LAST PRICE', 'MKT VALUE', 'TOTAL GAIN' ];
let tableValues = [
  {
    logo: amzn,
    ticker: 'AMZN',
    name: 'Amazon.com',
    vl_def: '25',
    qty: '2’256.52',
    lastPrice: '24,768.08',
    mkt1: '+14.48%',
    mkt2: '+1,128.05',
    gain1: '+14.48%',
    gain2: '+1,128.05'
  },
  {
    logo: bac,
    ticker: 'BAC',
    name: 'Banc of America',
    vl_def: '',
    qty: '150',
    lastPrice: '32.83',
    mkt1: '4,321.32',
    mkt2: '',
    gain1: '-3.01%',
    gain2: '-128.05'
  },
  {
    logo: msft,
    ticker: 'MSFT',
    name: 'Microsoft, Inc.',
    vl_def: '',
    qty: '10',
    lastPrice: '205.38',
    mkt1: '2,053.27',
    mkt2: '',
    gain1: '+2.48%',
    gain2: '+298.38'
  }
]; 

$: styleValue = (value) => value.match(/\+/) ? 'color: #00b68a;' : value.match(/\-/) ? 'color: #f34161;' : 'color: #333';
</script>
    
<style lang="scss">
.prtflPositions {  
  background: #fff;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px; 
  &__caption {
    padding-top: 22px;
    height: 72px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    font-style: normal;
    color: #333333;
    display: flex;
    justify-content: space-between;
    :last-child {
      color: #1b7afa;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__table {    
    &Header {
      padding-left: 8px;
      padding-right: 16px;
      height: 48px;
      background: #f6f7fc;
      display: grid;
      grid-template-columns: 1fr 70px repeat(4, 114px);
      align-content: center;
      text-align: right;
      font-size: 10px;
      line-height: 48px;
      font-weight: 800;
      font-style: normal;
      color: #333;
      &-left {
        padding-right: 148px;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
        position: relative;
        :first-child {
          position: absolute;
          top: 16px;
          left: 16px;
        }
      }
      &_border {
        border: 1px solid #eeecf7;
        transform: rotate(90deg);
        width: 24px;
        margin-top: -24px;
      }
    }
    &Container {
      display: flex;
      flex-direction: column;
      &Row {
        height: 48px;
        display: grid;
        grid-template-columns: 1fr 78px repeat(4, 116px);
        align-items: center;
        text-align: right;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: #333;
        box-shadow: inset 0px -1px 0px #f2f4f6;
        &-left {
          display: flex;
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
          position: relative;
          &1 {
            position: absolute;
            top: 2px;
            left: 16px;
          }
          &2 {
            display: flex;
            text-align: left;
            flex-direction: column;
            margin-left: 62px;
            :first-child {
              font-weight: 700;
            }
            :last-child {
              font-weight: 400;
            }
          }
        }
        &-2 {
          padding-right: 16px;
          box-shadow: 1px 0 0 #eceff1;
          line-height: 32px;
        }
        &-3 {
          padding-right: 16px;
          box-shadow: 1px 0 0 #eceff1;
          line-height: 32px;
        }
        &-4 {
          padding-right: 16px;
          box-shadow: 1px 0 0 #eceff1;
          line-height: 32px;
        }
        &-5 {
          padding-right: 16px;
          display: flex;
          flex-direction: column;
          text-align: right;
          box-shadow: 1px 0 0 #eceff1;
          :last-child { 
            font-size: 10px;
            font-weight: 400; 
            }        
        }
        &-6 {
          padding-right: 16px;
          display: flex;
          flex-direction: column;
          text-align: right;
          :last-child { 
            font-size: 10px;
            font-weight: 400; 
            }
        }
      }
    }
  }
}  
</style>