<div class="prtflRelNews">
  <div class="prtflRelNews__caption">
    <span>Portfolio Related News</span>
    <a href="/">See All</a>
  </div>
</div>
      
<style lang="scss">
.prtflRelNews {  
  background: #fff;
  border-radius: 4px;
  padding: 22px 24px;
  &__caption {
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    color: #333333;
    display: flex;
    justify-content: space-between;
    :last-child {
      color: #1b7afa;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }
} 
</style>