
<div
    class:active-input={ searchValue || isFocus }
    on:click|stopPropagation
    class="search"
    use:clickOutside 
    on:click_outside={closeSearchList}>
  <div class="search__form">
    <span on:click={showMobileInput} class="search__icon">
      <img src={search} alt="Search" />
    </span>
    <input
        placeholder={$_('searchString')}
        on:focus={onFocusInput}
        on:input={loadCompanies}
        class="search__input"
        type="text"/>
  </div>
  {#if isFocus && searchQuery && !isLoading}
    <div 
        class="search__list pt-3" 
        use:clickOutside 
        on:click_outside={closeSearchList}>
      {#if companiesRes.length > 0 && searchQuery}
        <span class="search__header-results">{ resHeader }</span>
      {/if}
      {#if companiesRes.length === 0 && searchQuery && !isLoading}
      <p class="search-list__no-res pl-4">
        { $_('searchInput.noRes') }
      </p>
      {/if}
      {#each companiesRes as el,index}
        <ul key={el.id} class="search-list">
          <li
              on:click={navigateToInstrument(el.code)}
              on:mouseenter={el.isHover = true}
              on:mouseleave={el.isHover = false}
              class="search-list__item">
            <div class="row align-items-center ml-0">
              <img src={minFileName(el.logo, 'T')} class="search-list__logo" alt="" />
              <p class:blue-text={el.isHover } class="search-list__ticker">
                { el.tiker }
              </p>
              <span
                  class:blue-text = { el.isHover }
                  class="search-list__company-name">
                { el.name }
              </span>
            </div>
            <span class="search-list__kind-stocks">{ kindStocks(index) }</span>
          </li>
        </ul>    
      {/each}
    </div>
  {/if}
</div>

<script>
  import search from 'icons/icon-search.svg';
  import {clickOutside} from '../services/clickOutside.js';
  import { _ } from 'svelte-i18n';
  
  let isFocus = false;
  let searchQuery = '';
  let companiesRes = [];
  let isLoading = false;
  let isHover = false;
  let logos = {};
  let companies = {};
  let searchValue = '';
  
  const closeSearchList = () => {
    isFocus = false;
  };
  const showMobileInput = (e) => {
    e.target.nextElementSibling.classList.toggle("is-active");
  };
  const onFocusInput = () => {
    isFocus = true;
  };
  const navigateToInstrument = (id) => {
    let encodeId = encodeURIComponent(id);
    this.$router.push(this.localePath(`/instruments/summary-${encodeId}`));
    searchValue = '';
    isFocus = false;    
  };
  const minFileName = (url, type) => {
    if(!url) return '';
    return url.replace(/(\.[^.]+)$/, '-'+type+'$1')
  };
  const kindStocks = (index) => {
    const currentEl = this.companiesRes[index];
    let countryCode = currentEl.country ? currentEl.country : '';
    return lang === "en" ? `${countryCode}` + " Stocks - " + `${currentEl["market_code"]}` : `${countryCode}` + " Акции - " + `${currentEl["market_code"]}`;  
  };
  const loadCompanies = (e) => {
    searchQuery = e.target.value;
    if (!searchQuery) {
      companiesRes = [];
    }
    isLoading = true;
    this.$api.get('/company/search', {q: searchQuery})
    .then(data => {
      isLoading = false;
      companiesRes = data.data;
    })
    .catch(err => {
      isLoading = false;
    });
  };
  
  $: resHeader = () => lang === 'en' ? 'Search results' : 'Результаты поиска';
  //$: lang = () => $i18n.locale;
  $: filteredCompanies = () => {
    if (!searchValue) return [];
    let companiesArray = Object.values(companies);
    let searchResults = companiesArray.filter(el => {
      if (!searchValue) return true;
      return (
        el.ticker.toUpperCase().includes(searchValue.toUpperCase()) || el.instrumentName
          .toUpperCase()
          .includes(searchValue.toUpperCase())
      );
    });
    return searchResults;    
  };
</script>
  
<style lang="scss">
  .search {
    flex: 1;
    max-width: 560px;
    padding: $spacer * 3 $spacer * 4;
    background-color: transparent;

    @media #{$tabletLg} {
      border-top: 1px solid $border-dark;
    }

    &__form {
      display: flex;
      background: transparent;

      @media #{$tablet} {
        justify-content: flex-end;
      }
    }

    &__icon {
      margin-right: 10px;
      margin-top: -2px;
      background-color: transparent;

      @media #{$tablet} {
        margin: 0;
        position: relative;
        z-index: 3;
      }

      img {
        @media #{$tablet} {
          width: 19px;
          height: 19px;
          pointer-events: none;
        }
      }
    }

    &__input {
      background-color: transparent;
      border: none;
      caret-color: $primary-light-color;
      color: $text-color;
      font-size: $font-size-md;
      height: auto;
      margin: 0;
      padding: 0;
      width: 100%;

      &::placeholder {
        font-size: $font-size-md;
        color: $disabled-color;
      }

      @media #{$tablet} {
        position: absolute;
        right: 0;
        height: 50px;
        top: 3px;
        background: $white;
        padding: 0 24px;
        width: 0;
        transition: width $delay ease-in-out;
        right: 59px;
        border: none;

        &.is-active {
          border: 1px solid $border-light;
          width: calc(100% - 80px);
        }
      }
    }

    &__list {
      background: $white;
      border-radius: 0px 0px $spacer $spacer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 0px $text-color;
      margin-left: -16px;
      max-height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 44px;
      width: 560px;

      @media #{$tablet} {
        left: 37px;
        top: 53px;
        width: calc(100% - 80px);
      }
    }

    &__header-results {
      color: $text-color-pale;
      font-size: $font-size-xs;
      font-style: normal;
      font-weight: 600;
      line-height: $line-height-xs;
      padding: $spacer * 2 $spacer * 6;
      text-transform: uppercase;
    }

    .search-list {
      padding: 0;
      margin: 0;

      &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $spacer * 2 $spacer * 6;

        &:hover {
          background-color: $light-color;
        }
      }

      &__logo {
        border-radius: 2px;
        color: $text-color;
        cursor: pointer;
        height: 24px;
        margin-right: 16px;
        width: 24px;
      }

      &__ticker {
        color: $text-color;
        cursor: pointer;
        font-size: $font-size-xs;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.04em;
        line-height: $line-height-xs;
        margin-bottom: 0;
        margin-right: 16px;
        text-transform: uppercase;
        width: 50px;
      }

      &__no-res {
        color: $text-color;
        cursor: default;
        font-size: $font-size-md;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.02em;
        line-height: $line-height-xs;
      }

      &__company-name {
        color: $text-color;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-md;
        line-height: $line-height-xs;
        letter-spacing: 0.02em;
        max-width: 290px;
      }

      &__kind-stocks {
        color: $text-color-pale;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        letter-spacing: 0.02em;
        max-width: 290px;
      }
    }
  }

  .blue-text {
    color: $primary-light-color !important;
  }

  .active-input {
    background-color: $deep-gray;
  }
</style>
