<div class="prtflStat">
  <div class="prtflStat__caption">Portfolio Statistics</div>
  <div class="prtflStat__content">
    {#each prtflStat as item, i }
      <div class="prtflStat__content-block">
        <span>{item.title}</span>
        <span style={styleValue(item.value, i)}>{item.value}</span>
      </div>
    {/each}                                                  
  </div>
</div>

<script>
  let prtflStat = [
    {
      title: 'Avg.consensus P/E',
      value: '8.4'
    },
    {
      title: 'Avg.consensus growth',
      value: '+36%'
    },
    {
      title: 'EPS Growth',
      value: '2.8'
    },
    {
      title: 'Dividend Yield',
      value: '4%'
    },
    {
      title: 'Volatility',
      value: '14.3%'
    },
    {
      title: 'Beta Trend',
      value: '1.8'
    },
  ];

  const styleValue = (value, i) => i == 1 ? value.match(/\+/) ? 'color: #00b68a;' : 'color: #f34161;' : i == 4 || i == 5 ? 'color: #f34161;' : 'color: #333333';
</script>
    
<style lang="scss">
  .prtflStat {  
    background: #fff;
    border-radius: 4px;
    padding-top: 22px;
    padding-left: 24px;
    padding-right: 24px; 
    &__caption {
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;
      color: #333333;
      margin-bottom: 22px;
    }
    &__content {
      display: grid;
      grid-template-rows: repeat(6, 50px);
      &-block {
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        :first-child {font-weight: normal;};
        :last-child {font-weight: 700;};
      }
    }
  }  
</style>